#container{
    display: flex;
    justify-content: space-around;
    width: 800px;
    height: 800px;
    flex: 1;
}

.column{
    display: flex;
    flex: 1;
    flex-direction: column;
}

.row{
    display: flex;
    flex: 1;
    flex-direction: row;
}

.color{
    background-color: red;
}